{{>header}}
{{>navbar}}

<div class="container">  
{{#with order}}
<h1>Pedido: {{number}}</h1>

<div class="container-pedido">
<p>Nome: {{name}}</p>
<p>Telefone: {{celphone}}</p>
<p>Tamanho do bolo: {{size}}</p>
<p>Sabor: {{flavor}}</p>
<p>Cobertura: {{caketop}}</p>
<p>Data Retirada: {{dateWithdrawn}}</p>
<p>Horário: {{time}}</p>
</div>
{{/with}} 

<button class="btn btn-dark atd">Atender pedido</button>
</div> 

    
{{>footer}}

